body, html {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  margin-bottom: 100px;
}

.main {
  margin-top: 50px;
}

.head-task {
  text-align: center;
}

.head-task__name {
  padding: 10px;
  width: 600px;
  border: 1px solid transparent;
  background-color: transparent;
  text-align: center;
  font-size: 36px;
}

.head-task__name:hover,
.head-task__name:focus,
.head-task__name:active {
  border-color: #d9d9d9;
}

.countdown {
  text-align: center;
  cursor: default;
}

.countdown__time {
  text-align: center;
  font-weight: bold;
  font-size: 150px;

  -webkit-transition: color .5s;
          transition: color .5s;
}

.countdown__timer_pomodoro .countdown__time {
  color: #f10f0f;
}

.countdown__timer_shortBreak .countdown__time {
  color: #ffb20f;
}

.countdown__timer_longBreak .countdown__time {
  color: #27c411;
}

.footer {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #b4b4b4;
}

.footer .link {
  color: inherit;
}

.buttons {
  margin: 20px 0;
}

.button {
  position: relative;
  margin: 5px;
  padding: 15px 20px;
  border: 0;
  border-radius: 4px;
  background-color: #af2f24;
  box-shadow: 0 3px 0 0 #8d2721;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  letter-spacing: 1px;
}

.button:hover {
  opacity: .8;
}

.button_color_red {
  background-color: #f10f0f;
  box-shadow: 0 3px 0 0 #941515;
}

.button_color_orange {
  background-color: #ffb20f;
  box-shadow: 0 3px 0 0 #9e6f0b;
}

.button_color_green {
  background-color: #27c411;
  box-shadow: 0 3px 0 0 #167209;
}

.buttons {
  text-align: center;
}

.notify {
  display: none;
}

.notify__visible {
  display: inline-block;
}

.task-list {
  margin: 0 auto;
  width: 600px;
}

.task-list__head {
  margin: 5px 0;
}

.task-list__list {
  margin: 10px 0 10px -38px;
  padding: 0;
  border-collapse: collapse;
}

.task-list__cell {
  position: relative;
  line-height: 28px;
  padding: 0;
}

.task-list__cell_type_name {
  padding-right: 20px;
}

.task-list__cell_type_periods {
  width: 40%;
}

.task-list__cell_type_remove {
  width: 28px;
}

.task-list__remove {
  display: inline-block;
  visibility: hidden;
  width: 28px;
  height: 28px;
  margin-right: 10px;
  color: #000;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.task-list__task:hover .task-list__remove {
  visibility: visible;
}

.task-list__remove:hover {
  background-color: #ff9706;
  color: #fff;
}

.task-list__period {
  display: inline-block;
  width: 9px;
  height: 18px;
  margin-right: 5px;
  float: left;
}

.task-list__name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.task-list__period_type_pomodoro {
  background-color: #f10f0f;
}

.task-list__period_type_shortBreak {
  background-color: #ffb20f;
}

.task-list__period_type_longBreak {
  background-color: #27c411;
}
